<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Welcome!</h1>
    <p>Log in to manage your nutrition goals.</p>
    <p th:if="${error}" th:text="${error}" class="error"></p>
<form method="POST" action="/process-login" th:object="${user}">
    <table>
        <!--Email Field-->
        <tr>
            <td>Email:</td>
            <td>
                <label>
                    <input type="text" th:field="*{email}">
                </label>
            </td>
            <td>
						<span data-th-if="${#fields.hasErrors('email')}"
                              data-th-errors="*{email}" class="error">
						</span>
            </td>
        </tr>

        <!--Password Field-->
        <tr>
            <td>Password:</td>
            <td>
                <label>
                    <input type="password" th:field="*{password}">
                </label>
            </td>
            <td>
						<span data-th-if="${#fields.hasErrors('password')}"
                              data-th-errors="*{password}" class="error">
						</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Login</button>
                <button type="submit" formaction="/register">Sign Up</button>
            </td>
        </tr>
    </table>
</form>
</div>


</body>
</html>