<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="header">
    <h1>NutriSense</h1>
</div>

<div class="container" id="login-container">
    <h1>Welcome!</h1>
    <p>Log in to manage your nutrition goals.</p>
    <p th:if="${error}" th:text="${error}" class="error"></p>
    <form method="POST" action="/home" th:object="${user}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <table>
            <!-- Email Field -->
            <tr>
                <td>Email:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{email}">
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <span data-th-if="${#fields.hasErrors('email')}"
                          data-th-errors="*{email}" class="error"></span>
                </td>
            </tr>

            <!-- Password Field -->
            <tr>
                <td>Password:</td>
                <td>
                    <label>
                        <input type="password" th:field="*{password}">
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <span data-th-if="${#fields.hasErrors('password')}"
                          data-th-errors="*{password}" class="error"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Login</button>
                </td>
            </tr>
        </table>
    </form>
    <!-- Sign-Up Prompt -->
    <div class="signup-prompt">
        <p>
            Don't have an account yet?
            <a href="/register" class="signup-link">Sign up</a> here!
        </p>
    </div>

</div>
</body>
</html>
